<%- include('./partials/header')%>
<form action="/register" method="POST">
    <br>
    Username<input type="text" name="username">
    <br>
    Password<input type="text" name="password">
    <br>
    Email<input type="text" name="email">
    <br><br>
    <input type="submit" value="Submit">
</form>

<%- include('./partials/footer')%>