

<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>upload</title>

		<!-- Google web fonts -->
		<link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel='stylesheet' />

		<!-- The main CSS file -->
		<link href="assets/css/style.css" rel="stylesheet" />
		
		
		
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="app.js"></script>
		<!------ Include the above in your HEAD tag ---------->

		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">




        <script src="app.js"></script>
        
<style>
/* #drop input{
    display: flex;
} */


 body{
    background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');
    padding:50px;
}

#upload{
	padding: 10px;
	/* margin-right: 0px;
	margin-left: 0px; */
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
</style>
<nav class="navbar navbar-default navbar-inverse" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">LetsPhoto</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li class="active"><a href="//instagram.com">Share</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if(!req.session.login){%>
				<li>
					<p class="navbar-text">Already have an account?</p>
				</li>
				<li class="dropdown">

					<!-- <a href="/login">Login</a> -->
					<a href="/login" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="active"></span></a>
					<%}else{%>
				<li>
					<!-- <a href="/logout">Logout</a> -->
					<!-- <a href="/upload">Upload</a> -->
				<li>
					<p class="navbar-text">
						<%=req.session.login.username%>
					</p>
				</li>
				<li><a href="/logout" class="dropdown-toggle" data-toggle="collapse"><b>Logout</b> <span class="active"></span></a></li>
				<li><a href="/upload" class="dropdown-toggle" data-toggle="collapse"><b>Upload</b> <span class="active"></span></a></li>

				<%}%>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
	</head>
	<body>

		<form id="upload" method="post" action="/upload" enctype="multipart/form-data">
			
			<div id="drop">
				<!-- Drop Here -->
                
                <a onclick="$('#upBtn').click()">Browse</a>
                <input type="file" name="uploadedfile" id="upBtn" >
                <!-- <input type="file" name="uploadedfile"> -->
			</div>

			<ul>
                <!-- The file uploads will be shown here -->
			</ul>
            <br>
            Description 
            <input type="text" name="description">
            <br><br>
            <input type="submit" name="Submit" multiple />
            <!-- <div id=""> -->
                <!-- <a>Submit</a> -->
            
            <!-- </div> -->
		</form>

		<!-- <footer> -->
            <!-- <h2><a href="http://tutorialzine.com/2013/05/mini-ajax-file-upload-form/"><i>Tutorial:</i> Mini Ajax File Upload Form</a></h2> -->
            <!-- <div id="tzine-actions">
            	
	            <a id="tzine-download" href="http://tutorialzine.com/2013/05/mini-ajax-file-upload-form/" title="Download This Example!">Download</a>
            </div> -->
        <!-- </footer> -->
        
		<!-- JavaScript Includes -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="assets/js/jquery.knob.js"></script>

		<!-- jQuery File Upload Dependencies -->
		<script src="assets/js/jquery.ui.widget.js"></script>
		<script src="assets/js/jquery.iframe-transport.js"></script>
		<script src="assets/js/jquery.fileupload.js"></script>
		
		<!-- Our main JS file -->
		<!-- <script src="assets/js/script.js"></script> -->


		<!-- Only used for the demos. Please ignore and remove. --> 
        <script src="http://cdn.tutorialzine.com/misc/enhance/v1.js" async></script>

	</body>
</html>






    


